.render{
   width: 100%;
   display: flex;
   flex-direction: column;
   font-family: sans-serif;
   .contSelect{
    margin-top: 20px;
    width: 80%;
    align-self: center;
    .select{
        z-index: 3;
    }
}
.container-pokemons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .grid{
        display: grid;
        justify-items: center;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap:25px; 
    }
    .btn{
        background: $light;
        outline: none;
        border: none;
        height: 40px;
        width: 50%;
        border-radius: 20px;
        transition-duration: 1000ms;
        margin-bottom: 25px;
        margin-top: 25px;
        max-width: 200px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    //For Laptop
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1439px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .grid{
            grid-template-columns:1fr 1fr 1fr;
        }
    }
    //For tablet
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1023px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .grid{
            grid-template-columns:1fr 1fr;
        }
    }
    //For Mobile
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 767px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .grid{
            grid-template-columns:1fr;
        }
    }
}
}

.modalCont{
    width: 75vw;
    max-width: 800px;
    height: 80vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    .modalName{
        color: black;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
    .modalImage{
        object-fit: cover;
        width: 150px;
        height: auto;
        align-self: center;
    }
    .modalStats{
        ul{
            li{
                p{
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
            }
        }
    }
}

