/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home {
  box-sizing: border-box;
  background: #F1FAEE;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 100vw;
  height: 80px;
  background: #E63946;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .logo {
  width: 40%;
  height: auto;
  max-width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10%;
}
.container .icon {
  color: #1D3557;
  font-size: 25px;
  margin-right: 10%;
}

.cardContainer {
  background: #457B9D;
  height: 300px;
  width: 240px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 1500ms;
  color: #A8DADC;
}
.cardContainer .center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.cardContainer .center h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}
.cardContainer .center .image-cont {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardContainer .center .image-cont .pokeima {
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.cardContainer .center .image-cont .background {
  position: absolute;
  width: 100%;
  margin-top: 10px;
}
.cardContainer .center .btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.cardContainer .center .btns .btn {
  background: #A8DADC;
  outline: none;
  border: none;
  height: 40px;
  width: 40%;
  border-radius: 20px;
  transition-duration: 1000ms;
}
.cardContainer .center .btns .fav {
  outline: none;
  border: none;
  background: #A8DADC;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition-duration: 1000ms;
}

.cardContainer:hover {
  background: #1D3557;
  color: #A8DADC;
}
.cardContainer:hover .btn:hover {
  background: #E63946;
  color: #A8DADC;
}
.cardContainer:hover .fav:hover {
  background: #E63946;
  color: #A8DADC;
}

.render {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.render .contSelect {
  margin-top: 20px;
  width: 80%;
  align-self: center;
}
.render .container-pokemons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.render .container-pokemons .grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}
.render .container-pokemons .btn {
  background: #A8DADC;
  outline: none;
  border: none;
  height: 40px;
  width: 50%;
  border-radius: 20px;
  transition-duration: 1000ms;
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modalCont {
  width: 75vw;
  max-width: 800px;
  height: 80vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.modalCont .modalName {
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.modalCont .modalImage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: auto;
  align-self: center;
}
.modalCont .modalStats ul li p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.select {
  z-index: 3;
}/*# sourceMappingURL=main.css.map */